@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  background-color: #f9fafb; /* tailwind gray-50 */
  color: #111827; /* tailwind gray-900 */
}

.container {
  max-width: 56rem; /* approx max-w-4xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
}
